DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.mp58oii.mongodb.net/showroom_db?retryWrites=true&w=majority&appName=Cluster0"
JWT_SECRET="super-secure-luxury-showroom-secret-key-2026"
NODE_ENV="development"
