# MongoDB Connection URL (MongoDB Atlas / local)
# Example MongoDB Atlas URI:
DATABASE_URL="mongodb+srv://admin:password@cluster0.abcde.mongodb.net/showroom_db?retryWrites=true&w=majority"

# JWT Secret for secure Admin authentication
JWT_SECRET="super-secure-luxury-showroom-secret-key-2026"

# Next.js Environment
NODE_ENV="development"
